# App
NODE_ENV=development
APP_ENV=dev
PORT=3000
HOST=0.0.0.0
TRUST_PROXY=false

LOG_LEVEL=info
LOG_PATH=./logs
LOG_TO_FILE=false
LOG_CHANNEL=xyz
LOG_PRODUCT=xyz
SERVICE_TYPE=example

# Redis
REDIS_URL=redis://redis:6379/0
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_CLUSTER_MODE=false
REDIS_NODES=
REDIS_TLS=false
CACHE_TTL_SECONDS=3600

# CORS
CORS_ORIGIN=http://localhost:3000

# Rate limit
RATE_LIMIT_MAX=100

# Swagger
SWAGGER_ENABLED=true
SWAGGER_USERNAME=swagger
SWAGGER_PASSWORD=swagger-password
X_API_KEY=

# External API config
HTTP_TIMEOUT_MS=10000

# Commercetools config
CTP_AUTH_URL=https://auth.australia-southeast1.gcp.commercetools.com
CTP_API_URL=https://api.australia-southeast1.gcp.commercetools.com
CTP_CLIENT_ID=
CTP_CLIENT_SECRET=
CTP_PROJECT_KEY=
CTP_SCOPES=

# Contentstack config
CS_AUTHORIZATION=
CS_API_KEY=
CS_REGION=
CS_BRANCH=
